.container{
    margin-top:30px;
    border: 2px solid silver;
    border-radius:5px;
    padding:30px 20px;
}

#courses{
    display:flex;
    justify-content:space-between;
    margin:20px 10px;
}

#courses div{
    border:1px solid silver;
    border-radius:3px;
    padding:15px;
}

#courses div p{
    font-size:25px;
}
#select{
    display:flex;
    justify-content: space-around;
    margin:20px 10px;
}

#select select{
    margin:10px 0;
}

.select:first-child{
    margin-right:25px;
}

.green{
    color:green;
}

.red{
    color:red;
}

